<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.arymi.phone" version="0.0.1">
	<name>企信通</name>
	<description>企业通讯录</description>
	<author href="http://arymi.com" email="dx_fz@yahoo.cn">fu zhan lun</author>
	<preference name="orientation" value="landscape"/>
	<preference name="show-splash-screen-spinner" value="false"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
